@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #082f49; /* slate-950 */
  --foreground: #f0f9ff; /* azure-50 */
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #082f49;
    --foreground: #f0f9ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-azure-400 to-azure-600;
  }
}
